nav.main-nav ul{
    width: 600px;
    margin: 30px var(--margin-auto);
    display: var(--display-grid);
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    text-align: var(--align-center);
}

nav a{
    color: var(--link-color);
}

@media screen and (max-width: 555px) {
    nav.main-nav ul {
        width: 400px;
    }

    nav a{
        font-size: 20px;
    }
}

@media screen and (max-width: 376px) {
    nav.main-nav ul {
        width: 200px;
        margin-top: 30px;
        display: block;
    }

    nav a{
        font-size: 30px;

    }

    nav ul li {
        margin-bottom: 30px;
    }
}